<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Tulos App</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
<!--
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
-->
<!-- or local version for debugging: -->
  <script src="angular-1.1.5.js"></script>
  <script src="app.js"></script>
</head>
<body>

  <div ng-app="tulos.app">
    <div ng-controller="FirstCtrl">
      <input type="text" ng-model="message">
      <h1>{{message + " world"}}</h1>
      <div class="{{message}}">
        Wrap something here
        <table>
        <tr clang-repeat="group in (drop 1 (partition 3 nums))">
          <td clang-repeat="x in (map (juxt identity odd?) group)">
            {{x}}
           
          </td>
        </tr>
      </table>
      </table>
      </div>
    </div>
    <div ng-controller="ContractCtrl">
      <li clang-repeat="contract in contracts">
        Name :  <input type="text" ng-model="contract :name"/>
      </li>
    </div>
  </div>

</body>
</html>
