<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Tulos App</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
<!--
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
-->
<!-- or local version for debugging: -->
  <script src="angular-1.1.5.js"></script>
  <script src="app_raw.js"></script>
</head>
<body>

  <div ng-app="">
    <div ng-controller="FirstCtrl">
    <input type="text" ng-model="message">
    <h1>{{message + " world"}}</h1>
    <div class="{{message}}">
      Wrap me in a foundation component
    </div>
    </div>
  </div>

</body>
</html>
